.table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.table td {
    border: 1px solid gray;
    padding: 5px;
}

.table th {
    border: 1px solid gray;
    padding: 5px;
}

.head tr td {
    background: #B7B7B7;
    border: 1px solid white;
    padding: 0px 5px;
}

.foot tr td {
    border: 1px solid black;
    padding: 0px 2px;
}

.foot .gray td {
    background: #B7B7B7;
}

.table.borderless {
    border: 0px;
}

.underline {
    border-bottom: 1px solid black;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
    text-align: left;
}

.f10 {
    font-size: 10px;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.compact {
    padding: 2px;
}

.cell {

}


.saltoinside{
    page-break-inside: avoid;
}

.saltoinsideauto{
    page-break-inside: auto;
}

.saltoafter{
    page-break-after: always;
}

.saltoafteravoid{
    page-break-after: avoid;
}

.saltobefore{
    page-break-before: always;
}

.saltobeforeavoid{
    page-break-before: avoid;
}

.saltobeforeauto{
    page-break-before: auto;
}

/* Resposive */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}
